@model EntityLayer.Concrete.Admin

@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>Yeni Admin Ekleme </h1>
<br />
@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Admin Kullanici Adi")
    @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" });

    <br /><br />
    @Html.Label("Şife  Yaziniz");
    @Html.TextAreaFor(x => x.AdminPassword, new { @class = "form-control" });

    <br /><br />
    @Html.Label("Rolü  Seçiniz");
    @Html.TextAreaFor(x => x.AdminRole, new { @class = "form-control" });

    <br /><br />
    <button class="btn btn-success">Kaydet</button>
</div>
}


