@model EntityLayer.Concrete.Heading

@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Yazar Ekleme </h1>
<br />
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlik Adi")
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeadingName)
    <br />
    @Html.Label("Categori");
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryId)
    <br />
    @Html.Label("Yazar")
    @Html.DropDownListFor(x=>x.WriterId,(List<SelectListItem>)ViewBag.vlw, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterId)



    <button class="btn btn-success">Başlik Oluştur</button>
</div>
}
